h1{
	color: darkblue;
}

.elements{
	display: flex;
	justify-content: space-evenly;
}

h2{
	border: 2px solid black;
	padding: 10px;
	width: 100px;
	display: inline-block;
	text-align: center;
	border: 2px solid black;
	border-radius: 20%;
	color: black;

}

.boyimage{
	display: flex;
	justify-content: space-evenly;
}

.boyimage3{
	display: flex;
	justify-content: space-evenly;
}

.boyname{
	display: grid;
	grid-template-columns: auto auto auto auto;
	text-align: center;
}

.boyname3{
	display: flex;
	justify-content: space-evenly;
}